In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('covid_toy.csv')

In [9]:
df.sample(5)

    age  gender  fever   cough       city has_covid
72   83  Female  101.0    Mild    Kolkata        No
96   51  Female  101.0  Strong    Kolkata       Yes
13   64    Male  102.0    Mild  Bangalore       Yes
40   49  Female  102.0    Mild      Delhi        No
94   79    Male    NaN  Strong    Kolkata       Yes

In [6]:
df['age'].value_counts()

34    4
19    4
65    4
5     3
69    3
42    3
20    3
83    3
49    3
51    3
64    3
27    3
82    3
11    2
12    2
24    2
23    2
38    2
81    2
80    2
47    2
75    2
14    2
73    2
16    2
25    2
60    2
10    2
71    2
18    1
17    1
6     1
15    1
22    1
13    1
8     1
84    1
26    1
31    1
79    1
74    1
72    1
70    1
68    1
66    1
59    1
56    1
55    1
54    1
50    1
48    1
44    1
40    1
33    1
46    1
Name: age, dtype: int64

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
# Nominal data Can not a compare <,> but Ordinul Categorical data is Comprared

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [15]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df["has_covid"],test_size=0.2)

In [22]:
X_train.head(2)

    age  gender  fever   cough     city
96   51  Female  101.0  Strong  Kolkata
92   82  Female  102.0  Strong  Kolkata

In [23]:
X_test.head(2)

    age  gender  fever cough       city
43   22  Female   99.0  Mild  Bangalore
41   82    Male    NaN  Mild    Kolkata

In [24]:
y_train.head(2)

96    Yes
92     No
Name: has_covid, dtype: object

In [25]:
y_test.head(2)

43    Yes
41    Yes
Name: has_covid, dtype: object

In [33]:
si  = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever

array([[101.        ],
       [102.        ],
       [ 99.        ],
       [ 99.        ],
       [104.        ],
       [101.        ],
       [100.        ],
       [ 99.        ],
       [ 98.        ],
       [ 98.        ],
       [100.85333333],
       [ 99.        ],
       [ 98.        ],
       [103.        ],
       [104.        ],
       [101.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [104.        ],
       [100.        ],
       [104.        ],
       [103.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.85333333],
       [104.        ],
       [101.        ],
       [101.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [ 99.        ],
       [ 98.        ],
       [100.85333333],
       [ 98.        ],
       [103.        ],
       [101.        ],
       [ 98.        ],
       [ 99.        ],
       [ 99.        ],
       [100.        ],
       [ 98.        ],
       [103.        ],
       [104.        ],
       [ 98.        ],
       [101.        ],
       [100.85333333],
       [103.        ],
       [100.        ],
       [102.        ],
       [100.85333333],
       [100.        ],
       [ 99.        ],
       [102.        ],
       [104.        ],
       [100.        ],
       [103.        ],
       [103.        ],
       [104.        ],
       [101.        ],
       [102.        ],
       [102.        ],
       [ 98.        ],
       [ 98.        ],
       [102.        ],
       [100.        ],
       [101.        ],
       [101.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [104.        ],
       [100.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [104.        ],
       [104.        ]])

In [35]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [42]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])


X_train_cough = oe.fit_transform(X_train[['cough']])


X_train_cough

array([[1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.]])

KeyError: ('gender', 'city')

In [45]:
from sklearn.compose import ColumnTransformer

In [48]:
ct = ColumnTransformer(transformers=[
                      ('var',SimpleImputer,['fever']),
                      
                      ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                      ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [51]:
ct.shape

AttributeError: 'ColumnTransformer' object has no attribute 'shape'