In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('cars.csv')

In [33]:
df.sample(3)

       brand  km_driven    fuel         owner  selling_price
6753   Honda     120000  Petrol  Second Owner         300000
541     Ford      70000  Diesel  Second Owner         200000
1691  Datsun       5000  Petrol  Second Owner         430000

In [34]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
MG                  3
Daewoo              3
Peugeot             1
Opel                1
Ashok               1
Name: brand, dtype: int64

In [35]:
df['brand'].value_counts().shape[0]

32

In [36]:
 pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [41]:
from sklearn.model_selection import train_test_split 
X_train,X_test, y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size = 0.2,random_state=2)

In [42]:
X_train.shape

(6502, 4)

In [43]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [45]:
X_train_new =ohe.fit_transform(X_train[['fuel','owner']])

In [46]:
X_train_new

<6502x9 sparse matrix of type '<class 'numpy.float64'>'
	with 13004 stored elements in Compressed Sparse Row format>

In [47]:
X_train_new =ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [48]:
X_train_new

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [49]:
X_train_new.shape

(6502, 9)